{% extends "base.html" %}

{% block start %}
<section>
    <header class="header">

    <section class="position-relative py-6">
      <img class="bg-image" src="/media/{{blog_obj.image}}" alt="">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
              <div class="bg-white rounded-lg shadow p-5"><strong class="text-uppercase text-secondary d-inline-block mb-2 text-sm">{{blog_obj.created_at}}</strong>
              <h2 class="mb-3">{{blog_obj.title}}</h2> 
            </div>
          </div>
        </div>
      </div>
    </section>
  <div class="container"> 
    <div class="row">
      <div class="col-xl-12 col-lg-10 mx-auto py-4">
        <div class="text-content">
          {{blog_obj.content|safe}}
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xl-8 col-lg-10 mx-auto">
        <p class="py-3 mb-3 text-muted text-center font-weight-light">
        <!-- <a href="#"><img class="avatar mr-2" src="../../../d19m59y37dris4.cloudfront.net/directory/1-6-1/img/avatar/avatar-11.jpg" alt=""></a> -->
        <span class="mx-1"></span> {{blog_obj.created_at}}
        <!-- <a class="font-weight-bold" href="blog.html">Living</a> -->
        <span class="mx-1">|</span>
        <a class="text-muted" href="#">2 comments                </a></p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
